<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
      <input type="text" placeholder="Search city" name="city" [(ngModel)]="cityName">
  </form>
</div>

<div class="container" *ngIf="weather">
    <div class="upper-data">
        <img src="../assets/img/Hot.jpg " *ngIf="weather.main.temp > 15">
        <img src="../assets/img/Cold.jpg" *ngIf="weather.main.temp < 15">

        <div class="weather-data">
        <div class="location"> {{ weather.name}}, {{ weather.sys.country }} </div>
        <div class="temperature" *ngIf="weather.main.temp >= 100; else min">{{ weather.main.temp * 0.1 | number: '1.0-1' }} &#176;C </div>
        <ng-template #min>
            <div class="temperature">{{ weather.main.temp | number: '1.0-1' }} &#176;C</div>
        </ng-template>   
    </div>
</div>

<div class="lower-data">
    <div class="more-info-label">
    Mais Informações
    </div>
    <div class="more-info-container">
        <div class="info-block">
            <div class="info-block-label">
            <img src="../assets/img/mintemp.svg">
            <span>min</span>
            </div>
            <div class="info-block-value" *ngIf="weather.main.temp_min >= 100; else tempMinDetails">
            {{weather.main.temp_min*0.1 | number: '1.0-1'}}&#176;C
            </div>
            <ng-template #tempMinDetails>
                <div class="info-block-value">
                    {{weather.main.temp_min | number: '1.0-1'}}&#176;C
                </div>
            </ng-template>
        </div>

        <div class="info-block">
            <div class="info-block-label">
            <img src="../assets/img/maxtemp.svg">
            <span>max</span>
            </div>
            <div class="info-block-value" *ngIf="weather.main.temp_max >= 100; else tempMaxDetails">
                {{weather.main.temp_max*0.1 | number: '1.0-1'}}&#176;C
            </div>
            <ng-template #tempMaxDetails>
                <div class="info-block-value">
                {{weather.main.temp_max | number: '1.0-1'}}&#176;C
                </div>
            </ng-template>
        </div>

        <div class="info-block">
            <div class="info-block-label">
            <img src="../assets/img/humidade.svg">
            <span>humidity</span>
            </div>
            <div class="info-block-value">
            {{ weather.main.humidity }}%
            </div>
        </div>

        <div class="info-block">
            <div class="info-block-label">
            <img src="../assets/img/wind.svg">
            <span>wind</span>
            </div>
            <div class="info-block-value">
            {{ weather.wind.speed }} km/h
            </div>
        </div>
    </div>
</div>
    <router-outlet></router-outlet>
